/* Big Screens */
#card {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: #002c6aa8;
    padding: 15px;
    color: #001224;
}

#card .card-outer-wrapper {
    width: 100%;
    height: 100%;
    border: 2px solid #002c6a;
    background-color: #56ccf2;
    background: linear-gradient(
        125deg,
        #2f80ed 15%,
        #56ccf2 35%,
        #56ccf2 65%,
        #2f80ed
    );
}

#card .card-inner-wrapper {
    width: 100%;
    height: 100%;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

#card .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    -webkit-animation: stripes-animation 1.5s infinite linear;
    animation: stripes-animation 1.5s infinite linear;
}

@-webkit-keyframes stripes-animation {
    0% {
        background-image: linear-gradient(
            135deg,
            #fff 0%,
            #fff 0.5%,
            #003366 0.5%,
            #003366 2%,
            #fff 2%,
            #fff 3.5%,
            #003366 3.5%,
            #003366 5%,
            #fff 5%,
            #fff 6.5%,
            #003366 6.5%,
            #003366 8%,
            #fff 8%,
            #fff 9.5%,
            #003366 9.5%,
            #003366 11%,
            #fff 11%,
            #fff 12.5%,
            #003366 12.5%,
            #003366 14%,
            #fff 14%,
            #fff 15%,
            transparent 15%,
            transparent 85%,
            #fff 85%,
            #fff 85.5%,
            #003366 85.5%,
            #003366 87%,
            #fff 87%,
            #fff 88.5%,
            #003366 88.5%,
            #003366 90%,
            #fff 90%,
            #fff 91.5%,
            #003366 91.5%,
            #003366 93%,
            #fff 93%,
            #fff 94.5%,
            #003366 94.5%,
            #003366 96%,
            #fff 96%,
            #fff 97.5%,
            #003366 97.5%,
            #003366 99%,
            #fff 99%,
            #fff 100%,
            #003366 100%
        );
    }
    20% {
        background-image: linear-gradient(
            135deg,
            #fff 0%,
            #fff 1%,
            #003366 1%,
            #003366 2.5%,
            #fff 2.5%,
            #fff 4%,
            #003366 4%,
            #003366 5.5%,
            #fff 5.5%,
            #fff 7%,
            #003366 7%,
            #003366 8.5%,
            #fff 8.5%,
            #fff 10%,
            #003366 10%,
            #003366 11.5%,
            #fff 11.5%,
            #fff 13%,
            #003366 13%,
            #003366 14.5%,
            #fff 14.5%,
            #fff 15%,
            transparent 15%,
            transparent 85%,
            #fff 85%,
            #fff 86%,
            #003366 86%,
            #003366 87.5%,
            #fff 87.5%,
            #fff 89%,
            #003366 89%,
            #003366 90.5%,
            #fff 90.5%,
            #fff 92%,
            #003366 92%,
            #003366 93.5%,
            #fff 93.5%,
            #fff 95%,
            #003366 95%,
            #003366 96.5%,
            #fff 96.5%,
            #fff 98%,
            #003366 98%,
            #003366 99.5%,
            #fff 99.5%,
            #fff 100%
        );
    }
    40% {
        background-image: linear-gradient(
            135deg,
            #fff 0%,
            #fff 1.5%,
            #003366 1.5%,
            #003366 3%,
            #fff 3%,
            #fff 4.5%,
            #003366 4.5%,
            #003366 6%,
            #fff 6%,
            #fff 7.5%,
            #003366 7.5%,
            #003366 9%,
            #fff 9%,
            #fff 10.5%,
            #003366 10.5%,
            #003366 12%,
            #fff 12%,
            #fff 13.5%,
            #003366 13.5%,
            #003366 15%,
            transparent 15%,
            transparent 85%,
            #fff 85%,
            #fff 86.5%,
            #003366 86.5%,
            #003366 88%,
            #fff 88%,
            #fff 89.5%,
            #003366 89.5%,
            #003366 91%,
            #fff 91%,
            #fff 92.5%,
            #003366 92.5%,
            #003366 94%,
            #fff 94%,
            #fff 95.5%,
            #003366 95.5%,
            #003366 97%,
            #fff 97%,
            #fff 98.5%,
            #003366 98.5%,
            #003366 100%,
            #fff 100%
        );
    }
    60% {
        background-image: linear-gradient(
            135deg,
            #003366 0%,
            #003366 0.5%,
            #fff 0.5%,
            #fff 2%,
            #003366 2%,
            #003366 3.5%,
            #fff 3.5%,
            #fff 5%,
            #003366 5%,
            #003366 6.5%,
            #fff 6.5%,
            #fff 8%,
            #003366 8%,
            #003366 9.5%,
            #fff 9.5%,
            #fff 11%,
            #003366 11%,
            #003366 12.5%,
            #fff 12.5%,
            #fff 14%,
            #003366 14%,
            #003366 15%,
            transparent 15%,
            transparent 85%,
            #003366 85%,
            #003366 85.5%,
            #fff 85.5%,
            #fff 87%,
            #003366 87%,
            #003366 88.5%,
            #fff 88.5%,
            #fff 90%,
            #003366 90%,
            #003366 91.5%,
            #fff 91.5%,
            #fff 93%,
            #003366 93%,
            #003366 94.5%,
            #fff 94.5%,
            #fff 96%,
            #003366 96%,
            #003366 97.5%,
            #fff 97.5%,
            #fff 99%,
            #003366 99%,
            #003366 100%,
            #fff 100%
        );
    }
    80% {
        background-image: linear-gradient(
            135deg,
            #003366 0%,
            #003366 1%,
            #fff 1%,
            #fff 2.5%,
            #003366 2.5%,
            #003366 4%,
            #fff 4%,
            #fff 5.5%,
            #003366 5.5%,
            #003366 7%,
            #fff 7%,
            #fff 8.5%,
            #003366 8.5%,
            #003366 10%,
            #fff 10%,
            #fff 11.5%,
            #003366 11.5%,
            #003366 13%,
            #fff 13%,
            #fff 14.5%,
            #003366 14.5%,
            #003366 15%,
            transparent 15%,
            transparent 85%,
            #003366 85%,
            #003366 86%,
            #fff 86%,
            #fff 87.5%,
            #003366 87.5%,
            #003366 89%,
            #fff 89%,
            #fff 90.5%,
            #003366 90.5%,
            #003366 92%,
            #fff 92%,
            #fff 93.5%,
            #003366 93.5%,
            #003366 95%,
            #fff 95%,
            #fff 96.5%,
            #003366 96.5%,
            #003366 98%,
            #fff 98%,
            #fff 99.5%,
            #003366 99.5%,
            #003366 100%
        );
    }
    100% {
        background-image: linear-gradient(
            135deg,
            #003366 0%,
            #003366 1.5%,
            #fff 1.5%,
            #fff 3%,
            #003366 3%,
            #003366 4.5%,
            #fff 4.5%,
            #fff 6%,
            #003366 6%,
            #003366 7.5%,
            #fff 7.5%,
            #fff 9%,
            #003366 9%,
            #003366 10.5%,
            #fff 10.5%,
            #fff 12%,
            #003366 12%,
            #003366 13.5%,
            #fff 13.5%,
            #fff 15%,
            transparent 15%,
            transparent 85%,
            #003366 85%,
            #003366 86.5%,
            #fff 86.5%,
            #fff 88%,
            #003366 88%,
            #003366 89.5%,
            #fff 89.5%,
            #fff 91%,
            #003366 91%,
            #003366 92.5%,
            #fff 92.5%,
            #fff 94%,
            #003366 94%,
            #003366 95.5%,
            #fff 95.5%,
            #fff 97%,
            #003366 97%,
            #003366 98.5%,
            #fff 98.5%,
            #fff 100%,
            #003366 100%
        );
    }
}
@keyframes stripes-animation {
    00% {
        background-image: linear-gradient(
            135deg,
            #fff 0%,
            #fff 0.5%,
            #003366 0.5%,
            #003366 2%,
            #fff 2%,
            #fff 3.5%,
            #003366 3.5%,
            #003366 5%,
            #fff 5%,
            #fff 6.5%,
            #003366 6.5%,
            #003366 8%,
            #fff 8%,
            #fff 9.5%,
            #003366 9.5%,
            #003366 11%,
            #fff 11%,
            #fff 12.5%,
            #003366 12.5%,
            #003366 14%,
            #fff 14%,
            #fff 15%,
            transparent 15%,
            transparent 85%,
            #fff 85%,
            #fff 85.5%,
            #003366 85.5%,
            #003366 87%,
            #fff 87%,
            #fff 88.5%,
            #003366 88.5%,
            #003366 90%,
            #fff 90%,
            #fff 91.5%,
            #003366 91.5%,
            #003366 93%,
            #fff 93%,
            #fff 94.5%,
            #003366 94.5%,
            #003366 96%,
            #fff 96%,
            #fff 97.5%,
            #003366 97.5%,
            #003366 99%,
            #fff 99%,
            #fff 100%,
            #003366 100%
        );
    }
    20% {
        background-image: linear-gradient(
            135deg,
            #fff 0%,
            #fff 1%,
            #003366 1%,
            #003366 2.5%,
            #fff 2.5%,
            #fff 4%,
            #003366 4%,
            #003366 5.5%,
            #fff 5.5%,
            #fff 7%,
            #003366 7%,
            #003366 8.5%,
            #fff 8.5%,
            #fff 10%,
            #003366 10%,
            #003366 11.5%,
            #fff 11.5%,
            #fff 13%,
            #003366 13%,
            #003366 14.5%,
            #fff 14.5%,
            #fff 15%,
            transparent 15%,
            transparent 85%,
            #fff 85%,
            #fff 86%,
            #003366 86%,
            #003366 87.5%,
            #fff 87.5%,
            #fff 89%,
            #003366 89%,
            #003366 90.5%,
            #fff 90.5%,
            #fff 92%,
            #003366 92%,
            #003366 93.5%,
            #fff 93.5%,
            #fff 95%,
            #003366 95%,
            #003366 96.5%,
            #fff 96.5%,
            #fff 98%,
            #003366 98%,
            #003366 99.5%,
            #fff 99.5%,
            #fff 100%
        );
    }
    40% {
        background-image: linear-gradient(
            135deg,
            #fff 0%,
            #fff 1.5%,
            #003366 1.5%,
            #003366 3%,
            #fff 3%,
            #fff 4.5%,
            #003366 4.5%,
            #003366 6%,
            #fff 6%,
            #fff 7.5%,
            #003366 7.5%,
            #003366 9%,
            #fff 9%,
            #fff 10.5%,
            #003366 10.5%,
            #003366 12%,
            #fff 12%,
            #fff 13.5%,
            #003366 13.5%,
            #003366 15%,
            transparent 15%,
            transparent 85%,
            #fff 85%,
            #fff 86.5%,
            #003366 86.5%,
            #003366 88%,
            #fff 88%,
            #fff 89.5%,
            #003366 89.5%,
            #003366 91%,
            #fff 91%,
            #fff 92.5%,
            #003366 92.5%,
            #003366 94%,
            #fff 94%,
            #fff 95.5%,
            #003366 95.5%,
            #003366 97%,
            #fff 97%,
            #fff 98.5%,
            #003366 98.5%,
            #003366 100%,
            #fff 100%
        );
    }
    60% {
        background-image: linear-gradient(
            135deg,
            #003366 0%,
            #003366 0.5%,
            #fff 0.5%,
            #fff 2%,
            #003366 2%,
            #003366 3.5%,
            #fff 3.5%,
            #fff 5%,
            #003366 5%,
            #003366 6.5%,
            #fff 6.5%,
            #fff 8%,
            #003366 8%,
            #003366 9.5%,
            #fff 9.5%,
            #fff 11%,
            #003366 11%,
            #003366 12.5%,
            #fff 12.5%,
            #fff 14%,
            #003366 14%,
            #003366 15%,
            transparent 15%,
            transparent 85%,
            #003366 85%,
            #003366 85.5%,
            #fff 85.5%,
            #fff 87%,
            #003366 87%,
            #003366 88.5%,
            #fff 88.5%,
            #fff 90%,
            #003366 90%,
            #003366 91.5%,
            #fff 91.5%,
            #fff 93%,
            #003366 93%,
            #003366 94.5%,
            #fff 94.5%,
            #fff 96%,
            #003366 96%,
            #003366 97.5%,
            #fff 97.5%,
            #fff 99%,
            #003366 99%,
            #003366 100%,
            #fff 100%
        );
    }
    80% {
        background-image: linear-gradient(
            135deg,
            #003366 0%,
            #003366 1%,
            #fff 1%,
            #fff 2.5%,
            #003366 2.5%,
            #003366 4%,
            #fff 4%,
            #fff 5.5%,
            #003366 5.5%,
            #003366 7%,
            #fff 7%,
            #fff 8.5%,
            #003366 8.5%,
            #003366 10%,
            #fff 10%,
            #fff 11.5%,
            #003366 11.5%,
            #003366 13%,
            #fff 13%,
            #fff 14.5%,
            #003366 14.5%,
            #003366 15%,
            transparent 15%,
            transparent 85%,
            #003366 85%,
            #003366 86%,
            #fff 86%,
            #fff 87.5%,
            #003366 87.5%,
            #003366 89%,
            #fff 89%,
            #fff 90.5%,
            #003366 90.5%,
            #003366 92%,
            #fff 92%,
            #fff 93.5%,
            #003366 93.5%,
            #003366 95%,
            #fff 95%,
            #fff 96.5%,
            #003366 96.5%,
            #003366 98%,
            #fff 98%,
            #fff 99.5%,
            #003366 99.5%,
            #003366 100%
        );
    }
    100% {
        background-image: linear-gradient(
            135deg,
            #003366 0%,
            #003366 1.5%,
            #fff 1.5%,
            #fff 3%,
            #003366 3%,
            #003366 4.5%,
            #fff 4.5%,
            #fff 6%,
            #003366 6%,
            #003366 7.5%,
            #fff 7.5%,
            #fff 9%,
            #003366 9%,
            #003366 10.5%,
            #fff 10.5%,
            #fff 12%,
            #003366 12%,
            #003366 13.5%,
            #fff 13.5%,
            #fff 15%,
            transparent 15%,
            transparent 85%,
            #003366 85%,
            #003366 86.5%,
            #fff 86.5%,
            #fff 88%,
            #003366 88%,
            #003366 89.5%,
            #fff 89.5%,
            #fff 91%,
            #003366 91%,
            #003366 92.5%,
            #fff 92.5%,
            #fff 94%,
            #003366 94%,
            #003366 95.5%,
            #fff 95.5%,
            #fff 97%,
            #003366 97%,
            #003366 98.5%,
            #fff 98.5%,
            #fff 100%,
            #003366 100%
        );
    }
}

#card .card-title {
    /* font-family: "Tangerine", cursive; */
    font-family: "Great Vibes", cursive;
}

#card .line-divider {
    width: 35%;
}

#card .open-button {
    width: 120px;
    background-image: linear-gradient(
        to right,
        #56ccf2 0%,
        #2f80ed 51%,
        #56ccf2 100%
    );
    font-weight: 700;
    border: 1px solid #022b5f;

    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#card .open-button:active,
#card .open-button:focus,
#card .open-button:hover {
    background-position: right center;
}

#card .open-button:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #card .card-content {
        -webkit-animation: stripes-animation 1s infinite linear;
        animation: stripes-animation 1s infinite linear;
    }

    @-webkit-keyframes stripes-animation {
        0% {
            background-image: linear-gradient(
                135deg,
                #003366 1%,
                #fff 1%,
                #fff 4%,
                #003366 4%,
                #003366 7%,
                #fff 7%,
                #fff 10%,
                #003366 10%,
                #003366 13%,
                #fff 13%,
                #fff 16%,
                #003366 16%,
                #003366 18%,
                transparent 18%,
                transparent 82%,
                #003366 82%,
                #003366 83%,
                #fff 83%,
                #fff 86%,
                #003366 86%,
                #003366 89%,
                #fff 89%,
                #fff 92%,
                #003366 92%,
                #003366 95%,
                #fff 95%,
                #fff 98%,
                #003366 98%,
                #003366 100%
            );
        }
        20% {
            background-image: linear-gradient(
                135deg,
                #003366 2%,
                #fff 2%,
                #fff 5%,
                #003366 5%,
                #003366 8%,
                #fff 8%,
                #fff 11%,
                #003366 11%,
                #003366 14%,
                #fff 14%,
                #fff 17%,
                #003366 17%,
                #003366 18%,
                transparent 18%,
                transparent 82%,
                #003366 82%,
                #003366 84%,
                #fff 84%,
                #fff 87%,
                #003366 87%,
                #003366 90%,
                #fff 90%,
                #fff 93%,
                #003366 93%,
                #003366 96%,
                #fff 96%,
                #fff 99%,
                #003366 99%,
                #003366 100%
            );
        }
        40% {
            background-image: linear-gradient(
                135deg,
                #003366 3%,
                #fff 3%,
                #fff 6%,
                #003366 6%,
                #003366 9%,
                #fff 9%,
                #fff 12%,
                #003366 12%,
                #003366 15%,
                #fff 15%,
                #fff 18%,
                transparent 18%,
                transparent 82%,
                #003366 82%,
                #003366 85%,
                #fff 85%,
                #fff 88%,
                #003366 88%,
                #003366 91%,
                #fff 91%,
                #fff 94%,
                #003366 94%,
                #003366 97%,
                #fff 97%,
                #fff 100%
            );
        }
        60% {
            background-image: linear-gradient(
                135deg,
                #fff 1%,
                #003366 1%,
                #003366 4%,
                #fff 4%,
                #fff 7%,
                #003366 7%,
                #003366 10%,
                #fff 10%,
                #fff 13%,
                #003366 13%,
                #003366 16%,
                #fff 16%,
                #fff 18%,
                transparent 18%,
                transparent 82%,
                #fff 82%,
                #fff 83%,
                #003366 83%,
                #003366 86%,
                #fff 86%,
                #fff 89%,
                #003366 89%,
                #003366 92%,
                #fff 92%,
                #fff 95%,
                #003366 95%,
                #003366 98%,
                #fff 98%,
                #fff 100%
            );
        }
        80% {
            background-image: linear-gradient(
                135deg,
                #fff 2%,
                #003366 2%,
                #003366 5%,
                #fff 5%,
                #fff 8%,
                #003366 8%,
                #003366 11%,
                #fff 11%,
                #fff 14%,
                #003366 14%,
                #003366 17%,
                #fff 17%,
                #fff 18%,
                transparent 18%,
                transparent 82%,
                #fff 82%,
                #fff 84%,
                #003366 84%,
                #003366 87%,
                #fff 87%,
                #fff 90%,
                #003366 90%,
                #003366 93%,
                #fff 93%,
                #fff 96%,
                #003366 96%,
                #003366 99%,
                #fff 99%,
                #fff 100%
            );
        }
        100% {
            background-image: linear-gradient(
                135deg,
                #fff 3%,
                #003366 3%,
                #003366 6%,
                #fff 6%,
                #fff 9%,
                #003366 9%,
                #003366 12%,
                #fff 12%,
                #fff 15%,
                #003366 15%,
                #003366 18%,
                transparent 18%,
                transparent 82%,
                #fff 82%,
                #fff 85%,
                #003366 85%,
                #003366 88%,
                #fff 88%,
                #fff 91%,
                #003366 91%,
                #003366 94%,
                #fff 94%,
                #fff 97%,
                #003366 97%,
                #003366 100%
            );
        }
    }
    @keyframes stripes-animation {
        0% {
            background-image: linear-gradient(
                135deg,
                #003366 1%,
                #fff 1%,
                #fff 4%,
                #003366 4%,
                #003366 7%,
                #fff 7%,
                #fff 10%,
                #003366 10%,
                #003366 13%,
                #fff 13%,
                #fff 16%,
                #003366 16%,
                #003366 18%,
                transparent 18%,
                transparent 82%,
                #003366 82%,
                #003366 83%,
                #fff 83%,
                #fff 86%,
                #003366 86%,
                #003366 89%,
                #fff 89%,
                #fff 92%,
                #003366 92%,
                #003366 95%,
                #fff 95%,
                #fff 98%,
                #003366 98%,
                #003366 100%
            );
        }
        20% {
            background-image: linear-gradient(
                135deg,
                #003366 2%,
                #fff 2%,
                #fff 5%,
                #003366 5%,
                #003366 8%,
                #fff 8%,
                #fff 11%,
                #003366 11%,
                #003366 14%,
                #fff 14%,
                #fff 17%,
                #003366 17%,
                #003366 18%,
                transparent 18%,
                transparent 82%,
                #003366 82%,
                #003366 84%,
                #fff 84%,
                #fff 87%,
                #003366 87%,
                #003366 90%,
                #fff 90%,
                #fff 93%,
                #003366 93%,
                #003366 96%,
                #fff 96%,
                #fff 99%,
                #003366 99%,
                #003366 100%
            );
        }
        40% {
            background-image: linear-gradient(
                135deg,
                #003366 3%,
                #fff 3%,
                #fff 6%,
                #003366 6%,
                #003366 9%,
                #fff 9%,
                #fff 12%,
                #003366 12%,
                #003366 15%,
                #fff 15%,
                #fff 18%,
                transparent 18%,
                transparent 82%,
                #003366 82%,
                #003366 85%,
                #fff 85%,
                #fff 88%,
                #003366 88%,
                #003366 91%,
                #fff 91%,
                #fff 94%,
                #003366 94%,
                #003366 97%,
                #fff 97%,
                #fff 100%
            );
        }
        60% {
            background-image: linear-gradient(
                135deg,
                #fff 1%,
                #003366 1%,
                #003366 4%,
                #fff 4%,
                #fff 7%,
                #003366 7%,
                #003366 10%,
                #fff 10%,
                #fff 13%,
                #003366 13%,
                #003366 16%,
                #fff 16%,
                #fff 18%,
                transparent 18%,
                transparent 82%,
                #fff 82%,
                #fff 83%,
                #003366 83%,
                #003366 86%,
                #fff 86%,
                #fff 89%,
                #003366 89%,
                #003366 92%,
                #fff 92%,
                #fff 95%,
                #003366 95%,
                #003366 98%,
                #fff 98%,
                #fff 100%
            );
        }
        80% {
            background-image: linear-gradient(
                135deg,
                #fff 2%,
                #003366 2%,
                #003366 5%,
                #fff 5%,
                #fff 8%,
                #003366 8%,
                #003366 11%,
                #fff 11%,
                #fff 14%,
                #003366 14%,
                #003366 17%,
                #fff 17%,
                #fff 18%,
                transparent 18%,
                transparent 82%,
                #fff 82%,
                #fff 84%,
                #003366 84%,
                #003366 87%,
                #fff 87%,
                #fff 90%,
                #003366 90%,
                #003366 93%,
                #fff 93%,
                #fff 96%,
                #003366 96%,
                #003366 99%,
                #fff 99%,
                #fff 100%
            );
        }
        100% {
            background-image: linear-gradient(
                135deg,
                #fff 3%,
                #003366 3%,
                #003366 6%,
                #fff 6%,
                #fff 9%,
                #003366 9%,
                #003366 12%,
                #fff 12%,
                #fff 15%,
                #003366 15%,
                #003366 18%,
                transparent 18%,
                transparent 82%,
                #fff 82%,
                #fff 85%,
                #003366 85%,
                #003366 88%,
                #fff 88%,
                #fff 91%,
                #003366 91%,
                #003366 94%,
                #fff 94%,
                #fff 97%,
                #003366 97%,
                #003366 100%
            );
        }
    }

    #card .card-title {
        font-size: 1.25rem;
    }
    #card .line-divider {
        width: 40%;
    }
    #card .invitor-name,
    #card h4 {
        font-size: 1rem;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
