#preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    background-color: #56ccf2;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

/* 
#preloader::before {
    content: "";
    width: 200%;
    height: 200%;
    position: fixed;
    bottom: -50px;
    left: -50px;
    background: radial-gradient(
        circle,
        rgb(255, 255, 255) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.15;
} */

/* 
#preloader::after {
    content: "";
    position: fixed;
    top: -50px;
    left: -50px;
    background: linear-gradient(
        125deg,
        #2f80ed 15%,
        #56ccf2 35%,
        #56ccf2 65%,
        #2f80ed
    );
} */

.preloader-wrapper {
    width: 60px;
    height: 60px;
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 5px solid transparent;
    border-top-color: #001224;
    border-bottom-color: #001224;
    border-radius: 50%;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
